@import '@tomtom-international/web-sdk-maps';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Manrope:wght@200,300,400,500,600,700&display=swap');

@import './partials/variables';
@import './partials/general';
@import '~bootstrap/scss/bootstrap';
@import './partials/upload_preview';
@import './partials/checkbox_services.scss';
@import './partials/searchbar';

