/* The container */
.container-checkbox {
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #181818;
  border-radius: 5px;
  margin-right: 8px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: rgba(113, 113, 113, 0.1);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #181818;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator - x cambiare posizione alla checkbox usare top e left*/
.container-checkbox .checkmark:after {
  left: 11px;
  top: 5px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.switch-field {
  display: flex;
  margin-bottom: 16px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #fff;
  color: #181818;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.yes {
  border-top: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
}

.no {
  border-top: 1px solid #181818;
  border-left: 1px solid #181818;
  border-bottom: 1px solid #181818;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: rgba(113, 113, 113, 0.2);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 20px 0 0 20px;
}

.switch-field label:last-of-type {
  border-radius: 0 20px 20px 0;
}

@media screen and (min-width: 576px) {
  .container-checkbox {
    font-size: 14px;
  }
}