@import './_variables';

* {
    font-family: 'Manrope', sans-serif;
}

body, html {    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

a.bnb-a {
    color: $black;
    
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.color-brand {
    color: $brand;
}

//Headlines
//Font-Weights
h1, h2 {
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 400;
}

h6 {
    font-weight: 500;
}

//Styles
h1 {
    font-size: 94px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 59px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 47px;
    letter-spacing: 0px;
}

h4 {
    font-size: 33px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
}

// Buttons
button {
    padding: 0;
    border: none;
    background: none;
};

#header-avatar {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.bnb-btn,
.bnb-btn-r5 {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    transition: all .15s ease-in-out;
}
.bnb-btn {
    border-radius: 30px;
}
.bnb-btn-r5 {
    border-radius: 5px;
}

.bnb-btn-brand {
    border: 1px solid transparent;
    color: $white;
    background: $brand;
    
    &:hover {
        border: 1px solid $brand;
        background: $white;
        color: $brand;
        text-decoration: none;
    }
}

.bnb-btn-brand-2 {
    color: $brand;
    border: 1px solid $brand;
}

.bnb-btn-dark {
    border-color: $black;
    background-color: $black;
    color: $white;

    &:hover {
        border-color: $gray-2;
    }
}

.bnb-btn-white {
    border: 1px solid $gray-2;
    color: $gray-2;

    &:hover {
        background-color: rgba($gray-1, 0.1);
    }
}

.btn-row {
    display: flex;
    flex-direction: column-reverse ;
   .bnb-btn-resp,
   a.bnb-btn-resp {
       display:  block;
       width: 100%;
       text-align: center;
   }
}

.bnb-btn-edit,
.bnb-btn-delete {
    color: rgba($gray-1, 0.2);
    transition: 0.3s;

    &:hover {
        color: $brand;
    }
}

.bnb-btn-delete {

    label{
        cursor: pointer;
    }

    input {
        display: none;
    }
}

//Index 
.house-container {
    
    padding: 20px 0;
    border-top: 1px solid rgba($gray-1, 0.3);

    img {
        border-radius: 12px;
        overflow: hidden;
    }

    .details-container {
        p {
            color: $gray-1;
            font-size: 14px;
        }
    }
}

// Show + create
.show-info {    
    ul {        
        font-size: 12px;
    }
}

// Show + edit + index
.edit-photos,
.img-container {
    img {        
        height: 150px;
        object-fit: cover;
    }
}

//Show
.show {
    strong {
        display: block;
        span {
            font-weight: 400;
        }
    }
}

#map-div {
    width: 100%; 
    height: 300px;
    border-radius: 12px;
}

.show-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-template-rows: min-content;

    img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

.service-svg {
    display: inline-block;
    width: 20px;

    img {
        height: 16px;
    }
}

//Edit
.edit-photos {
    margin-bottom: 15px;
    margin-right: 15px;
    width: calc(20% - 15px);
    img {
        width: 100%;
    }
}

//Create
.create-form {
    label:not(.not-strong),
    h6 {
        font-weight: 600;
    } 
}

.create-upload {
    visibility: hidden;
}

//media queries
@media screen and (min-width: 576px) {
    
    .show-photos {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-info {
        ul {
            display: flex;
            max-height: 250px;
            font-size: 14px;
        }
    }
    .create-services,
    .edit-services {
        display: flex;
        flex-flow: column wrap;
        height: 400px;
    }

    .create-visible,
    .edit-visible {
        display: flex;
    }

    .btn-row {
        flex-direction: row ;
    }
}

@media screen and (min-width: 768px) {

    .show-photos {
        grid-template-columns: repeat(4, 1fr);
    }
     
    .create-services,
    .edit-services{
        height: 300px;
    }

    #header-avatar {
        display: inline;
    }
}

@media screen and (min-width: 1200px) {
    .show-photos {
        grid-template-columns: repeat(5, 1fr);    
    }
}
