@import './_variables';

* {
    font-family: 'Manrope', sans-serif;
}

body, html {    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

a.bnb-a {
    color: $black;
    
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.control button,
.control a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $brand;
        text-decoration: none;
    }
}

//Headlines
//Font-Weights
h1, h2 {
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 400;
}

h6 {
    font-weight: 500;
}

//Styles
h1 {
    font-size: 94px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 59px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 47px;
    letter-spacing: 0px;
}

h4 {
    font-size: 33px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
}

// Buttons
button {
    padding: 0;
    border: none;
    background: none;
};

.bnb-btn {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    border-radius: 30px;
    transition: all .15s ease-in-out;
}

.bnb-btn-r5 {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    border-radius: 5px;
    transition: all .15s ease-in-out;
}

.bnb-btn-brand {
    border: 1px solid transparent;
    color: $white;
    background: $brand;
    
    &:hover {
        border: 1px solid $brand;
        background: $white;
    }
}

.bnb-btn-brand-2 {
    color: $brand;
    border: 1px solid $brand;
}

.bnb-btn-dark {
    border-color: $black;
    background-color: $black;
    color: $white;

    &:hover {
        border-color: $gray-2;
    }
}

.bnb-btn-white {
    border: 1px solid $gray-2;
    color: $gray-2;

    &:hover {
        background-color: rgba($gray-1, 0.1);
    }
}

//Index 
.house-container {
    
    padding: 20px 0;
    border-top: 1px solid rgba($gray-1, 0.3);

    img {
        border-radius: 12px;
        overflow: hidden;
    }

    .details-container {
        p {
            color: $gray-1;
            font-size: 14px;
        }
    }
}

// Show + create
.show-details ul,
.create-services {
    height: 250px;
}

// Show + edit + index
.edit-photos,
.show-photos ,
.img-container {
    img {        
        height: 150px;
        object-fit: cover;
    }
}

//Show
.show-info,
.show-details {
    width: 45%;
}

.show-info {
    strong {
        display: block;
        span {
            font-weight: 400;
        }
    }
}

.show-photos {

    img {
        margin-bottom: 15px;
        margin-right: 15px;
        height: 125px;
    }
}

.service-svg {
    display: inline-block;
    width: 20px;

    img {
        height: 16px;
    }
}

//Edit
.edit-photos {
    margin-bottom: 15px;
    margin-right: 15px;
    width: calc(20% - 15px);
    img {
        width: 100%;
    }
}

//House Create
.create-form {
    label:not(.not-strong),
    h6 {
        font-weight: 600;
    } 
}