@import './_variables';

/* width */
::-webkit-scrollbar {
    width: 0px;
}

#geo-address {

    ul {
        position: absolute;
        top: 65px;
        left: 0;
        list-style: none;
        padding: 0;
        border: 1px solid rgba($gray-1, 0.3);
        border-radius: 12px;
        overflow: hidden;
        background-color: $white;
        z-index: 2;
    
        li {
            padding: 5px 10px;
            cursor: pointer;
    
            &:hover,
            &.active {
                background-color: rgba($gray-1, 0.1);
            }
        }
    }
}
* {
      font-family: 'Manrope', sans-serif;
    }
    
    body, html {    
    scrollbar-width: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    min-height: 100vh;
}

a.bnb-a {
    color: $black;
    
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.color-brand {
    color: $brand;
}

.color-gray-2 {
    color: $gray-2;
}
.color-white {
    color: $white;
}

.bg-white {
    background-color: $white;
}

//Headlines
//Font-Weights
h1, h2 {
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 400;
}

h6 {
    font-weight: 500;
}

//Styles
h1 {
    font-size: 94px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 59px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 47px;
    letter-spacing: 0px;
}

h4 {
    font-size: 33px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
}

// Buttons
button {
    padding: 0;
    border: none;
    background: none;
};

.bnb-btn,
.bnb-btn-r5 {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    transition: all .15s ease-in-out;
}
.bnb-btn {
    border-radius: 30px;
}
.bnb-btn-r5 {
    border-radius: 5px;
}

.bnb-btn-brand {
    border: 1px solid transparent;
    color: $white;
    background: $brand;
    
    &:hover {
        border: 1px solid $brand;
        background: $white;
        color: $brand;
        text-decoration: none;
    }
}

.bnb-btn-brand-2 {
    color: $brand;
    border: 1px solid $brand;
}

.bnb-btn-dark {
    border-color: $black;
    background-color: $black;
    color: $white;

    &:hover {
        border-color: $gray-2;
    }
}

.bnb-btn-white {
    border: 1px solid $gray-2;
    color: $gray-2;

    &:hover {
        background-color: rgba($gray-1, 0.1);
    }
}

.btn-row {
    display: flex;
    flex-direction: column-reverse ;
   .bnb-btn-resp,
   a.bnb-btn-resp {
       display:  block;
       width: 100%;
       text-align: center;
   }
}

.bnb-btn-index,
.bnb-btn-delete {
    color: rgba($gray-1, 0.2);
    transition: 0.3s;
    font-size: 24px;

    &:hover {
        color: $brand;
    }
}

.bnb-btn-delete {

    label{
        cursor: pointer;
    }

    input {
        display: none;
    }
}

.bnb-pagination {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;


    .pag-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 8px;
        margin: 0 4px;

        &:hover span{
            color: $brand;
            background-color: $gray-hover;
            text-decoration: none;
        }

        &.disabled span {
            display: none;
        }
    
        &.active{
            color: $brand;
        }
    }
}

//header
.navbar.my-navbar {
    min-height: $headerHeight;
    padding: 8px 24px;
    
    svg {
        height: 32px;
        width: 32px;
    }
}

.header-user {
    background-color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
        margin: 0 4px;
        color: $gray-1;
    }
    
    &.navbar-toggler {
        font-size: 16px;
        border-radius: 30px;
    }
}

.header-avatar {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.bnb-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;

    .bnb-card {
        padding: 24px;
        color: inherit;
        transition: .3s ease-in-out;
        border-radius: 12px;

        &:hover {
            text-decoration: none;
            transform: translateY(-3%);
        }

        i {
            margin-bottom: 24px;
            display: block;
            font-size: 32px;
            color: $brand;

            &.bronze {
                background: -webkit-linear-gradient(top, #CD7F32 0%, #BE7023 100%);
            }
            &.silver {
                background: -webkit-linear-gradient(top, #C0C0C0 0%, #B1B1B1 100%);
            }
            &.gold {
                background: -webkit-linear-gradient(top, #ECD540 0%, #DDC631 100%);
            }
            &.icon {
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        h4 {
            margin-bottom: 16px;
        }
    }
}
.bnb-50 {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .summary {
        padding: 5px 10px;
        border: 1px solid rgba($gray-1, 0.3);
        border-radius: 12px;
    }
}

//auth
.log-out {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    white-space: nowrap;
    border: 0;

    &:hover {
        color: $white !important;
        background-color: $brand;
    }
}
.user-form {
    padding: 0 20px;
    box-shadow: 0 0 5px 2px rgba($gray-1, 0.2);
    border-radius: 12px;
    overflow: hidden;
    .header {
        padding: 20px 0;
    }
    .bnb-form {
        padding-top: 20px;
        border-top: 1px solid rgba($gray-1, 0.2);

        .input-form {
            padding: 0;
            border-radius: 8px;
            border: 1px solid rgba($gray-1, 0.2);
    
            .label {
                position: relative;

                label {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-size: 12px;
                    color: rgba($gray-1, 0.5);
                }
        
                input,
                textarea,
                select {
                    padding: 20px 10px;
                    border: 0;
                    border-radius: 8px;
                    font-size: 14px;
                    outline: none;
                    
                    &.first {
                        border-bottom: 1px solid rgba($gray-1, 0.2);
                    }
        
                    &:focus {
                        border: 2px solid $black;
                    }
        
                    &::placeholder {
                        color: rgba($gray-1, 0.5);
                    }
                    &.is-invalid {
                        border: 1px solid $brand;
                        padding-right: calc(1.5em + 0.75rem);
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
                        background-repeat: no-repeat;
                        background-position: right calc(0.375em + 0.1875rem) center;
                        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
                    }
                }
            }
        }
        a {
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .footer {
        padding-bottom: 20px;

        .slice {
            position: relative;
            span {
                font-size: 12px;
                padding: 16px;

                &::before,
                &::after {
                    border-bottom-width: 1px;
                    border-bottom-color: #e4e4e4 ;
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid rgb(228, 228, 228);
                    top: 50%;
                    width: 100%;
                }
                &::before {
                    right: 100%;
                }
                &::after {
                    left: 100%;
                }
            }
        }
    }
}

//Index 
.house-container {
    
    padding: 20px 0;

    &:not(:first-of-type) { 
        border-top: 1px solid rgba($gray-1, 0.3);
    }

    .details-container {
        p {
            color: $gray-1;
            font-size: 14px;
        }
    }
}

// Show + create
.show-info {    
    ul {        
        font-size: 12px;
    }
}

.show-sponsor-icon,
.index-sponsor-icon {
    color: $brand;
}

.show-sponsor-icon {
  
    font-size: 2rem;
}

.index-sponsor-icon {
    top: 8px;
    left: 8px;
    position: absolute;
    font-size: 1rem;
    z-index: 1;
}

// Show + edit + index
.edit-photos,
.img-container {
    position: relative;
    overflow: hidden;
    img {
        border-radius: 12px;
        object-fit: cover;
    }
}

.edit-photos {
    img {        
        height: 150px;
    }
}

.img-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;    
    
    img {        
        height: 200px;
        width: 100%;
        border-radius: 12px;
    }
}

.triangle {
    
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: 56px solid $white;
        border-right: 56px solid transparent;
        border-radius: 12px 0 0 0;
    }
}
  

//Show
.show {
    strong {
        display: block;
        span {
            font-weight: 400;
        }
    }
}

#map-div {
    width: 100%; 
    height: 300px;
    border-radius: 12px;
}

.show-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-template-rows: min-content;

    img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

.service-svg {
    display: inline-block;
    width: 20px;

    img {
        height: 16px;
    }
}

//Edit
.edit-photos {
    margin-bottom: 15px;
    margin-right: 15px;
    width: calc(20% - 15px);
    img {
        width: 100%;
    }
}

//Create
.create-form {
    label:not(.not-strong),
    h6 {
        font-weight: 600;
    } 
}

.create-upload {
    visibility: hidden;
}

//media queries
@media screen and (max-width: 767px) {
    .bnb-nav-item {
        text-align: right;
        a {
            margin: 0 20px;
            padding: 0;
            color: $brand;
            background-color: transparent;
            border: 0;
    
            &:hover {
                border: 0;
            }
        }
    }
}
@media screen and (min-width: 350px) {
    .input-form {
        width: 320px;
    }
}
@media screen and (min-width: 576px) {
    
    .show-photos {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-info {
        ul {
            display: flex;
            max-height: 250px;
            font-size: 14px;
        }
    }
    .create-services,
    .edit-services {
        display: flex;
        flex-flow: column wrap;
        height: 400px;
    }

    .create-visible,
    .edit-visible {
        display: flex;
    }

    .btn-row {
        flex-direction: row ;
    }

}

@media screen and (min-width: 768px) {

    .bnb-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .show-photos {
        grid-template-columns: repeat(4, 1fr);
    }
     
    .create-services,
    .edit-services{
        height: 300px;
    }

    .bnb-50 {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {

    .bnb-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-photos {
        grid-template-columns: repeat(5, 1fr);    
    }
}