@import './variables';


.msg-box {
    
    .title-container {
        h2 {
            margin: 0;
        }
        i{
            font-size: 24px;
            color: $brand;
        }
    }
    .card-msg{
        padding: 32px;
        border-radius: 15px;
        border: 1px solid rgba( $black, 0.1);
        .padd-btn {
            padding-left: 0;
            padding-right: 0;
        }
    }
    // h5.h5 {
    //     font-size: 14px
    // }
    .index-msg {
        display: block;
        font-size: 12px;
        margin-bottom: 16px;
    }
    .form-absolute {
        position: absolute;
        right: 20px;
        top: 20px;
        form {
            height: 30px;
            width: 30px;
        }
        button {
            display: block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            button.del-msg-radius {
                position: relative;
            }
        }
        .del-msg-txt{
            display: none;
        }
    }
    //my-pagination
    .my-pagination{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        a {
            padding: 4px 8px;
            border-radius: 5px;
            color: $black;
            &:hover {
                color: $brand;
                background-color: $gray-hover;
                text-decoration: none;
            }
        }
        span.active a {
            color: $brand;
        }
        span.disabled a {
            display: none;
        }
    }
}

@media screen and (min-width: 576px) {
    .padd-btn-left {
        margin-left: 0;
        margin-right: 0.5rem;
    }
    .padd-btn-rgt {
        margin-left: 0.5rem;
        margin-right: 0;
    }

}

@media screen and (min-width: 992px) {
    .my-pagination{
        justify-content: center !important;
        span {
            margin: 0 4px;
        }
    }
}