// Colors

//grays
$white: #FFF;
$black: #181818;

$gray-hover: #f0f0f0;
$gray-1: #717171; 
$gray-2: #484848; 

//colors
$brand: #ff385c;
$primary-1 :#70019c;
$primary-2 :#ae0186;

//gradients
$brand-start: #e01b51;
$brand-end: #dd1a5a;

$brand-h:  linear-gradient(90deg, #{$brand-start}, #{$brand-end});
$primary-h:  linear-gradient(120deg, #{$primary-1}, #{$primary-2});

$headerHeight: 90px;
$footerHeight: 90px;