
// Colors
//grays
$white: #FFF;
$black: #181818;
// $gray-1: #F0F0F0; 
$gray-1: #F7F7F7; 
$gray-2: #484848; 

//colors
$brand: #ff385c;
$primary-1 :#70019c;
$primary-2 :#ae0186;

//gradients
$brand-start: #e01b51;
$brand-end: #dd1a5a;

$brand-h:  linear-gradient(90deg, #e01b51, #dd1a5a);
$primary-h:  linear-gradient(90deg, #70019c, #ae0186);